@model ActorDetailsServiceModel

@{
    ViewBag.Title = "Actor Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="Actor Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Birthdate: <b>@Model.BirthDate.ToString("dd.MM.yyyy")</b></p>
            <p>Bio: <b>@Model.Bio</b></p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated && this.User.IsAdmin())
                {
                    <a class="btn btn-warning" asp-controller="Actor" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Actor" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                }
            </div>
            <p></p>
        </div>
    </div>
</div>

@section Scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            $(document).ready(function () {
                CartModule.updateCartCount();
            });
        </script>
    }
}