@model DirectorServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" height="450rem" src="@Model.ImageUrl" alt="Director Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <br />
            <a asp-controller="Director" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated && this.User.IsAdmin())
            {
                <a asp-controller="Director" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Director" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                <p></p>
            }
        </div>
    </div>
</div>