@model MovieServiceModel 

<div class="col-md-4"> 
    <div class="card mb-3"> 
        <img class="card-img-top" src="@Model.ImageUrl" alt="Movie Image"> 
        <div class="card-body text-center"> 
            <h4>@Model.Title</h4> 
            <h6>Genre: <b>@Model.Genre</b></h6>
            <h6>Release Date: <b>@Model.ReleaseDate</b></h6>
            <h6> 
                Price: 
                <b>@String.Format("{0:f2}", Model.Price) BGN</b> 
            </h6>
            <br /> 
            <a asp-controller="Movie" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Details</a>

            @if (this.User.Identity.IsAuthenticated && this.User.IsAdmin()) 
            { 
                <a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                <p></p> 
            } 
        </div> 
    </div> 
</div>