@model OrderServiceModel

@{
    ViewBag.Title = "Order Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-3 border-0">
            <p>First Name: <b>@Model.FirstName</b></p>
            <p>Last Name: <b>@Model.LastName</b></p>
            <p>Country: <b>@Model.Country</b></p>
            <p>Address: <b>@Model.Address</b></p>
            <p>City: <b>@Model.City</b></p>
            <p>Phone: <b>@Model.Phone</b></p>
            <p>State: <b>@Model.State</b></p>
            <p>Email: <b>@Model.Email</b></p>
            <p>Postal Code: <b>@Model.PostalCode</b></p>
        </div>
        @foreach (var item in Model.OrderDetails)
        {
            <div class="card col-3 border-0">
                <div class="col-4">
                    <img class="card-img-top" style="width: 20rem;" src="@item.ImageUrl" alt="Item Image">
                </div>
                <p style="font-size:25px;"><u>@item.Title</u></p>
                <p>Quantity: <b>@item.Quantity</b></p>
                <p>
                    Unit Price:
                    <b>@String.Format("{0:f2}", item.ItemTotal) BGN</b>
                </p>
                <p></p>
            </div>
        }
    </div>
</div>
<div class="form-inline mb-3">
    <p><b>Total Price: @String.Format("{0:f2}", Model.TotalAmount) BGN</b></p>
    <a class="btn btn-primary" asp-controller="Movie" asp-action="All">Back to movies</a>
</div>
