@model IEnumerable<OrderServiceModel>

@{
    ViewBag.Title = "My Orders";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center mt-5">You have no orders placed!</h2>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped" style="text-align: center">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Order Date</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>PostalCode</th>
                    <th>State</th>
                    <th>Total Price</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.FirstName</td>
                        <td>@order.LastName</td>
                        <td>@order.OrderDate.ToString("dd.MM.yyyy")</td>
                        <td>@order.Phone</td>
                        <td>@order.Email</td>
                        <td>@order.Address</td>
                        <td>@order.Country</td>
                        <td>@order.PostalCode</td>
                        <td>@order.State</td>
                        <td>@order.TotalAmount BGN</td>
                        <td>
                            <a asp-controller="Order" asp-action="Details" asp-route-Id="@order.OrderId" class="btn btn-success">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}