@model MovieDetailsServiceModel 
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{ 
    ViewBag.Title = "Movie Details";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-12 mb-3">
            <img class="card-img-top img-fluid h-100" src="@Model.ImageUrl" alt="Movie Image">
        </div>
        <div class="col-lg-9 col-md-8 col-12 mb-3">
            <div class="card border-0">
                <p class="h3"><u>@Model.Title</u></p>
                <p>Genre: <b>@Model.Genre</b></p>
                <p>Release date: <b>@Model.ReleaseDate</b></p>
                <p>Price: <b>@String.Format("{0:f2}", Model.Price) BGN</b></p>
                <p>@Model.Description</p>
                <p>Director: <b>@Model.Director</b></p>
            </div>
        </div>
        <div class="form-inline text-center">
            @if (this.User.Identity.IsAuthenticated && this.User.IsAdmin())
            {
                <a class="btn btn-warning mb-1" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-danger mb-1" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
            <input id="__RequestVerificationToken" type="hidden" value="@requestToken" />
            <button class="btn btn-success add-to-cart mb-1" data-id="@Model.Id" data-title="@Model.Title">Add To Cart</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            CartModule.updateCartCount();

            $('.add-to-cart').on('click', function (e) {
                e.preventDefault();
                CartModule.addToCart($(this).data('id'), $(this).data('title'));
            });
        });
    </script>
}